body {
    font-size: 24px;
    font-family: 'Francois One', sans-serif;


}

.flex-row, .row {
    margin: 5px;
    padding: 5px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    background-color: lightgray;

}

.flex-column, .column, .col-lg-2, .col-lg-5 {
    margin: 5px;
    padding: 5px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background-color: aliceblue;

}

.img-fluid {
    max-width: 100%;
    height: auto;


}

